@tailwind base;
@tailwind components;
@tailwind utilities;
.main {
  margin-top: 50vh;
  margin-bottom: 100vh;
}
.cardContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0px;
}
.card {
  width: 800px;
  height: 400px;
  border-radius: 10px;
}
